@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

.clearfix {
  overflow: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.App {
  text-align: center;
}

.header {
  width: 100vw;
  height: 45px;
  top: 0;
  left: 0;
  margin: 0px 0px 20px 0px;
  padding-top: 12px;
  display: block;
  position: fixed;
  z-index: 2;
  background-image: url("../src/app/img/header-bg.jpg");
  background-size: 116%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
}

.header li {
  list-style: none;
  text-decoration: none;
}

.inputTerm {
    top: 6px;
    left: 35%;
    width: auto;
    height: 35px;
    padding-top: 10px;
    text-align: left;
    display: inline-block;
    position: absolute;
    font-weight: 100;
}

.inputTerm p {
  font-size: 25px;
  color: #ffffff38;
}

.inputValue {
  margin-left: 10px;
  color: #ffffff78;
  letter-spacing: 4px;
}

a:link {
  text-decoration: none;
  letter-spacing: 8px;
}

a {
  color: white;
}

.logo {
  width: 13%;
  height: 10%;
  top: 0;
  left: 0;
  margin: 0px 0px 0px 0px;
  display: block;
  position: relative;
  float: left;
}

.logoFont {
  font-family: Roboto;
  font-size: 2em;
  display: inline-block;
  text-decoration: none;
}

.searchButton {
  width: 140px;
  height: auto;
  margin-top: -3px;
  left: 27%;
  padding: 0 15px 0 15px;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 100;
}

.closeSearchButton {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 100;
}

.landing {
  width: 90%;
  height: 300px; 
  margin: 0 auto;
  top: 45px;
  display: block;
  text-align: center;
  line-height: 2.5em;
}

.landingH1 {
  padding-top: 30%;
  font-size: 2em;
  color: rgba(48, 46, 46, 0.518);
}

.coffeeImage {
  width: 45%;
  height: 45%;
  right: 0;
  bottom: 20%;
  position: absolute;
  background-image: url('../src/app/img/landing.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.searchScreen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 12px 0 25px 0;
  display: block;
  position: absolute;
  background-color: rgba(39, 39, 39, 0.90);
  content: contain;
  text-align: left;
  color: white;
}

input[type=text] {
  font-size: 1.5em;
  padding-left: 0.3em;
  color: grey;
  letter-spacing: 0.2px;
}

.searchScreen p {
  margin-left: 8px;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 8px;
}

.searchScreen li {
  display: inline-block;
}

.searchScreen li:nth-of-type(2) {
  margin: -1% 9% 0 0;
  top: 0px;
  float: right;
  position: relative;
}

.searchBar {
  width: 93%;
  height: 33px;
  margin: 14px 2px 0 2px;
  padding-bottom: 6px;
  line-height: 1em;
  display: block;
  position: relative;
  z-index: 11;
  border: 1px solid white;
  border-radius: 20px;
}

.wrapperDiv {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  position: relative;
  text-align: center;
  margin: 18% auto 0 auto;
  padding: 0 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  column-count: 2;
  column-gap: 5px;
}

.imgSmall {
  width: auto;
  height: auto;
  position: relative;
  margin: 4px 2px 4px 2px;
  vertical-align: top;
}

.landscape {
  width: 100%;
  height: auto;
  display: inline-block;
  /* give mobile images margins here */
  margin: 0;
}

.portrait {
  width: 100%;
  height: auto;
  display: inline-block;
  /* give mobile images margins here */
  margin: 0;
}

.fullScreen {
  width: 100vw;
  height: 100%;
  display: block;
  top: 2%;
  left: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(39, 39, 39, 0.90);
  text-align: center;
}

.fullScreenImage {
  width: auto;
  height: 100%;
  margin: 0 auto;
  top: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.closeFullScreenButton {
  margin: -6px 0 15px 0;
  padding: 0;
  top: 10%;
  left: 95%;
  display: block;
  position: relative;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 100;
  z-index: 0;
}

/* loading icon*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  /* top: 127px; */
  width: 11px;
  height: 11px;
  margin-top: 30px;
  border-radius: 50%;
  background: rgb(244, 118, 208);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.footer {
  width: 100%;
  height: 20%;
  display: inline-block;
  position: relative;
  bottom: 20;
}

.loadMoreButton {
  margin: 40px 15px 140px 15px;
  padding: 0 15px 7px 15px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  color: rgba(81, 79, 79, 0.703);
  border: 1px solid rgba(81, 79, 79, 0.703);
  border-radius: 10px;
  font-weight: 100;
}

.loadMoreButton:hover {
  border-radius: 20px;
  background-color: rgba(244, 118, 208, 0.8);
  color: white;
  /* border: 1px solid white; */
}

/* ------------------------------------------------------------------------Desktop--------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  body {
    /* margin-top: 5.5%;  */
    font-weight: 100;
  }

  .loadingH1 {
    margin-left: 15px;
    font-size: 2em;
    color: rgb(244, 118, 208);
    margin-top: 20%;
  }

  .header {
    width: 100vw;
    height: 45px;
    top: 0;
    left: 0;
    margin: 0px 0px 20px 0px;
    padding-top: 15px;
    background-size: 100%;
    display: block;
    position: fixed;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  }

  /* new */
  .centered-search-bar {
    top: calc(50% - 50px);
    left: calc(50% - 300px);
    position: absolute;
    z-index: 3;
  }

  .centered-search-input {
    width: 555px;
    height: 50px;
    line-height: 45px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .search-form.icon {
    width: 45px;
    height: 20px;
  }

  .icon.icon-search {
    background: url('../src/app/img/searchIcon.png') center/contain no-repeat;
  }

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    opacity: 0.8;
  }

  input {
    color: #fff;
  }

.searchButton {
    margin-top: -.24em;
    left: 33%;
    padding-bottom: 4px;
    display: inline-block;
    position: relative;
    font-size: 2em;
    border: 1px solid white;
    border-radius: 10px;
    color: #fff;
  }

  .searchButton {
    -webkit-transition: all 100ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 100ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 100ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 100ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 100ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: width 100ms;
  }

  .searchButton:hover {
    box-shadow: rgba(30, 22, 54, 0.2) 0 0px 0px 40px inset;
    width: 14%;
    border-radius: 20px;
  }

  .landing {
    width: 100%;
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1496309732348-3627f3f040ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14d1045387c8116077bf8725732e8cd7&auto=format&fit=crop&w=1920') center center / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    overflow: hidden;
    z-index: 1;
    top: 45px;
    display: block;
    text-align: center;
  }

  .landingH1 {
    padding-top: 22%;
    font-size: 2.5em;
    color: rgba(48, 46, 46, 0.518);
  }

  .coffeeImage {
    width: 45%;
    height: 45%;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: url('../src/app/img/landing.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  a:link {
    margin-left: 2em;
    letter-spacing: 8px;
  }

  .searchScreen {
    padding-top: 15px;
  }

  .searchScreen p {
    margin-left: 2.2em;
    font-size: 2em;
    font-weight: 100;
  }

  .searchScreen li p:first-of-type {
    letter-spacing: 8px;
  }

  .searchBar {
    width: 94.5vw;
    height: 40px;
    margin: 15px 0 0 0;
    padding: 2px 0 5px 0;
    line-height: 1em;
    display: block;
    position: absolute;
    z-index: 11;
    border-radius: 20px;
  }

  input[type=text] {
    font-size: 1.5em;
    padding-left: 2.9em;
    color: grey;
    letter-spacing: 0.2px;
  }

  .searchScreen li:nth-of-type(2) {
    margin: -0.2% 10% 0 0;
    top: 0px;
    /* float the close search button to the right  */
    float: right;
    position: relative;
  }

  .closeSearchButton {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 100;
  }

  /* //images */
  .wrapperDiv {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    position: relative;
    text-align: center;
    margin: 4.2em auto 0 auto;
    padding: 0 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    column-count: 4;
    column-gap: 10px;
  }

  .imgSmall {
    width: auto;
    height: auto;
    /* clear: both; */
    position: relative;
    margin: 0 2px;
    vertical-align: top;
  }

  .landscape {
    width: 100%;
    height: auto;
    display: inline-block;
    /* margin: 1px 2px 1px 2px; */
    padding: 7px 0;
    vertical-align: top;
  }

  .portrait {
    width: 100%;
    height: auto;
    display: inline-block;
    /* margin: 1px 2px 1px 2px; */
    vertical-align: top;
    padding: 7px 0;
    vertical-align: top;
  }
/* original */
  /* .fullscreen {
    width: 100vw;
    height: 100%;
    display: block;
    top: 7%;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(39, 39, 39, 0.90);
    text-align: center;
    content: contain;
  } */
  /* eng original */

              .fullscreen {
                width: 100vw;
                height: 100%;
                display: block;
                top: 0%;
                left: 0;
                position: fixed;
                z-index: 1;
                background-color: rgba(39, 39, 39, 0.90);
                text-align: center;
                content: contain;
              }

  .fullscreenAside {
    width: 200px;
    height: 300px;
    margin-left: 30px;
    top: 7%;
    right: 2%;
    float: right;
    display: block;
    position: fixed;
  }

  .fullscreenUserPhoto {
    width: 50px;
    height: 50px;
    top: 10%;
    /* right: 15%; */
    clear: both;
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: none;
  }
/* original  */
  /* .fullScreenImage {
    width: auto;
    height: 100%;
    margin: 0 auto;
    top: 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
  } */
  /* end original */

              .fullScreenImage {
                width: auto;
                height: 93%;
                margin: 0 auto;
                top: 7%;
                display: inline-block;
                position: relative;
                z-index: 1;
                text-align: center;
              }


  .closeFullScreenButton {
    padding: 0;
    display: block;
    position: relative;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 100;
    z-index: 0;
  }

  .footer {
    width: 100%;
    height: 15%;
    display: inline-block;
    position: relative;
    bottom: 0
  }

  .loadMoreButton {
    margin: 70px 15px 145px 15px;
    padding: 0 15px 7px 15px;
    display: inline-block;
    position: relative;
    font-size: 2em;
    color: rgba(81, 79, 79, 0.703);
    border: 1px solid rgba(81, 79, 79, 0.703);
    border-radius: 10px;
    font-weight: 100;
  }

  .loadMoreButton:hover {
    border-radius: 20px;
    background-color: rgba(244, 118, 208, 0.8);
    color: white;
    border: 1px solid white;
  }
}

/*------------------------------------------------------------------------------ Large Desktop -------------------------------------------------------------------------*/
@media only screen and (min-width: 1780px) {
  body {
    margin-top: 3%;
  }

  .landingH1 {
    padding-top: 7%;
    font-size: 4em;
    color: rgba(48, 46, 46, 0.518);
  }

  .searchButton {
    left: 36%;
  }

  .searchButton:hover {
    box-shadow: rgba(30, 22, 54, 0.2) 0 0px 0px 40px inset;
    width: 7%;
    border-radius: 20px;
  }

  .searchBar {
    width: 95.4vw;
  }

  .searchScreen p {
    margin-left: 3.5em;
  }

  input[type=text] {
    padding-left: 4.7em;
  }

  .searchScreen li:nth-of-type(2) {
    margin: -0.1% 7.2% 0 0;
    top: 0px;
    float: right;
    position: relative;
  }

  /* //images */
  .wrapperDiv {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    position: relative;
    text-align: center;
    margin: 3em auto 0 auto;
    padding: 0 15px;
    -webkit-column-count: 6;
    -webkit-column-gap: 5px;
    -moz-column-count: 6;
    -moz-column-gap: 5px;
    column-count: 6;
    column-gap: 12px;
  }

  .imgSmall {
    width: auto;
    height: auto;
    position: relative;
    margin: 0 2px;
    vertical-align: top;
  }

  .landscape {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 8px 0;
    vertical-align: top;
  }

  .portrait {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 8px 0;
    vertical-align: top;
  }

  .fullscreen {
    top: 4%;
  }

  .fullscreenAside {
    width: 200px;
    height: 300px;
    margin-left: 30px;
    top: 7%;
    right: 2%;
    float: right;
    display: block;
    position: fixed;
  }

  .closeFullScreenButton {
    top: 0%;
  }

  .footer {
    width: 100%;
    height: 3%;
    display: inline-block;
    position: relative;
    bottom: 0;
    text-align: center;
  }
}

/* ---------------------------------------MOBILE--------------------------------------- */
@media (min-width: 320px) and (max-width: 734px) {
  .logo {
    left: 2.5%;
  }

  .App {
    padding-top: 20px;
  }

  .landing {
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1496309732348-3627f3f040ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14d1045387c8116077bf8725732e8cd7&auto=format&fit=crop&w=1920');
    background-position:  center; 
    background-repeat: no-repeat;
    opacity: 0.95;
    overflow: hidden;
    z-index: 1;
    top: 45px;
    display: block;
    text-align: center;
  }

  .centered-search-bar {
    top: calc(50% - 50px);
    /* left: calc(50% - 300px); */
    position: absolute;
    z-index: 10;
  }

  .centered-search-input {
    width: 95vw;
    height: 50px;
    line-height: 45px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .search-form {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .search-form.icon {
    width: 45px;
    height: 20px;
  }

  .icon.icon-search {
    background: url('../src/app/img/searchIcon.png') center/contain no-repeat;
  }

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    opacity: 0.8;
  }

  input {
    color: #fff;
  }

  input[type=text] {
    font-size: 1.5em;
    padding-left: 2.3em;
    color: grey;
    letter-spacing: 0.2px;
    width: 84vw;
  }

  
  /* displayed search term at top after search */
  .inputTerm {
    top: 56px;
    left: 2.5%;
    width: auto;
    height: 35px;
    padding-top: 5px;
    text-align: left;
    /* change back to inline-block to get search term to dislay on mobile */
    display: none;
    position: absolute;
    font-weight: 100;
}

  .inputTerm p {
    font-size: 18px;
    color: grey;
  }

  .inputValue {
    margin-left: 5px;
    color: grey;;
    letter-spacing: 4px;
  }
  /* end displayed search term at top after search */

  .wrapperDiv {
    top: 45px;
    /* margin: 0 auto 0 auto; */
  }

  .imgSmall:first-of-type {
    margin-top: 0;
  }

  .fullscreen {
    top: 4%;
    width: 100%;
    height: 100vh;
    display: block;
    top: 2%;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(39, 39, 39, 0.90);
    text-align: center;
  }

  .fullScreenImage {
    width: 100%;
    /* height: auto; */
    height: calc(100% - 45px);
    margin: 0 auto;
    top: 45px;
    display: block;
    position: relative;
    z-index: 1;
  }
  
  .fullscreenAside {
    width: 100%;
    height: 100vh;
    margin-left: 30px;
    top: 1.5%;
    right: 7%;
    float: right;
    display: block;
    position: fixed;
    z-index: 30;
  }
}
