@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.clearfix {
  overflow: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html, div, span, applet, object, iframe, h1 ,h2, h3, h4, h5, h6 ,p, blockquote, pre,
a,abbr,acronym,address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u,i,center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1;
  background-color: #FFF;
  /* testing 04/30/20 */
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.App {
  text-align: center;
  background-color: #FFF;
}

.header {
  width: 100vw;
  height: 45px;
  top: 0;
  left: 0;
  padding-top: 12px;
  display: block;
  position: fixed;
  z-index: 2;
  background-image: url("../src/app/img/Mystic.png");
  background-size: 116%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
}

.header li {
  list-style: none;
  text-decoration: none;
}

.inputContainer {
  width: 100%;
  height: auto;
  margin-top: 103px;
  display: block;
  position: relative;
}

.inputTerm {
    top: 6px;
    left: 35%;
    width: auto;
    height: 35px;
    padding-top: 10px;
    text-align: left;
    display: inline-block;
    position: absolute;
    font-weight: 100;
}

.inputTerm p {
  font-size: 25px;
  color: #ffffff38;
}

.inputValue {
  margin-left: 10px;
  color: #ffffff78;
  letter-spacing: 4px;
}

a:link {
  text-decoration: none;
  letter-spacing: 8px;
}

a {
  color: black;
}

.logo {
  width: 13%;
  height: 10%;
  top: 0;
  left: 0;
  margin: 0px 0px 0px 0px;
  display: block;
  position: relative;
  float: left;
}

.logoFont {
  font-family: Roboto;
  font-size: 2em;
  display: inline-block;
  text-decoration: none;
}

.logoFont a {
  margin-left: 10px;
  letter-spacing: 8px;
}

.closeSearchButton {
  top: 302px;
  right: 28px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 100;
}


/* testing 04/24/20 */

/* end testing 04/24/20 */

.dd-login-title {
  top: 0;
  right: 24px;
  width: 60px;
  height: 57px;
  display: inline-block;
  position: absolute;
  z-index: 10;
}

.dd-login-button {
  width: 41px;
  height: 41px;
  margin-top: 5px;
  /* testing header 04/17/20 */
  /* original 04/17/20 */
  /* background-image: url('../src/app/img/user-icon.png'); */
  background-image: url('../src/app/img/user-icon-mobile.png');
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

.dd-login-button-logged-in {
  width: 41px;
  height: 41px;
  margin-top: 5px;
  background-image: url('../src/app/img/user-icon-mobile-logged-in.png');
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

.form-error {
  top: 200;
  left: 25%;
  position: absolute;
}

.error {
  margin: 20px 0 0 0 ;
  color: rgb(230, 124, 205);
  font-size: 22px;
}


.hide {
  display: none;
}

.show {
  display: block;
}

.fadeIn {
  opacity: 1;
  /* rate at which the fullscreen images fade in */
  transition: opacity 900ms;
}

.fadeOut {
  opacity: 0;
  /* rate at which the fullscreen images fade out */
  transition: opacity 900ms;
}

.dd-login-menu {
  top: 57px;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.dd-login-menu::after { 
  width: 100%;
  height: 100vh;
}

.login-options {
  top: 0;
  right: 0;
  width: 19%;
  height: 104px;
  position: absolute;
  padding-top: 1px;  
  background-color: white;
}


.user-options {
  top: 0;
  right: 0;
  width: 19%;
  height: 205px;
  position: absolute;
  padding-top: 1px;
  background-color: white;
}

.login-option {
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1;
  cursor: pointer;
}

.login-option:hover {
  color: rgb(230, 124, 205);
}

.user-card {
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1;
}

#user-card {
  height: 71px;
}

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  opacity: 0.4;
}

.headerSearch {
  width: 100vw;
  height: 40px;
  top: -10px;
  left: 0;
  display: block;
  position: absolute;
  content: contain;
  text-align: left;
  color: #fff;
  z-index: 3;
}

.searchBar {
  width: 93%;
  height: 33px;
  margin: 14px 2px 0 2px;
  padding-bottom: 6px;
  line-height: 1em;
  display: block;
  position: relative;
  z-index: 11;
  border: 1px solid white;
  border-radius: 20px;
}

.body-container{
  width: 100%;
  height: 100%;
  position: relative
}

 .wrapperDiv {
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  position: relative;
  text-align: center;
  margin: 18% auto 0 auto;
  padding: 0 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  column-count: 2;
  column-gap: 5px;
} 

/* silenced 04/23/20 */
.imgSmallOverlay {
  width: 250px; 
  height: 250px;
  position: relative;
  vertical-align: top;
  opacity: 0.4;
  z-index: 10;
}

.imgSmall {
  width: auto; 
  height: auto;
  position: relative;
  vertical-align: top;
}

.imgSmall:first-of-type {
  margin-top: 0px;
}

/* .imgSmall:hover {
  opacity: 0.8;
} */

.landscape {
  width: 100%;
  height: auto;
  display: inline-block;
  /* give mobile images margins here */
  /* margin: 0; */
}

.portrait {
  width: 100%;
  height: auto;
  display: inline-block;
  /* give mobile images margins here */
  /* margin: 0; */
}

#fullScreen {
  width: 100vw;
  height: 100%;
  display: block;
  top: 2%;
  left: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(39, 39, 39, 0.90);
  text-align: center;
}

.fullScreenImage {
  width: auto;
  height: 100%;
  margin: 0 auto;
  top: 0;
  display: block;
  position: relative;
  z-index: 1;
}

.closeFullScreenButton {
  top: 0;
  right: -5px;
  float: right;
  display: block;
  position: relative;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  font-weight: 100;
  z-index: 0;
}

/* loading icon*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  height: 11px;
  margin-top: 15px;
  border-radius: 50%;
  /* background: rgb(244, 118, 208); */
  background: rgb(120, 128, 153);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.footer {
  width: 100%;
  height: 20%;
  display: inline-block;
  position: relative;
  bottom: 20;
}

.loadMoreButton {
  width: 25%;
  height: 45px;
  margin: 70px 15px 145px 15px;
  padding: 0 15px 7px 15px;
  display: inline-block;
  position: relative;
  font-weight: 100;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
  cursor: pointer;
  border: none;
}

.loadMoreButton:hover {
  background-color: rgba(230, 127, 209, 1 );
}


/* ===================================================================================================================*/
/* ================                                 DESKTOP                                       ====================*/
/* ===================================================================================================================*/
@media only screen and (min-width: 734px) {
  body {
    font-weight: 100;
  }

  .loadingH1 {
    margin-left: 15px;
    font-size: 1.8em;
    /* color: rgb(244, 118, 208); */
    color: rgb(120, 128, 153);
    margin-top: 25%;
  }

  .header {
    width: 100vw;
    height: 45px;
    top: 0;
    left: 0;
    /* margin: 0px 0px 20px 0px; */
    padding-top: 12px;
    background-size: 100%;
    display: block;
    position: fixed;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
  }

  /* testing 04/25/20 */
  .switch-container {
    top: -9px;
    right: 109px;
    position: absolute;
  }

  .switch-btn {
    width: 80px;
    height: 40px;
    /* background: #e5e5e5; */
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 3px 10px rgba(0,0,0, .3);
  }

  .switch-btn:before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    background: linear-gradient(#FFF, #f2f2f2);
    left: 2px;
    top: 2px;
    transition: all 150ms ease-out;
    border-radius: 50%;
    box-shadow: 0 8px 6px -4px rgba(0,0,0, .25);
    z-index: 3
  }

  .switch {
    opacity: 0;
  }

  .switch-btn-on {
    top: 14px;
    right: 18px;
    position: absolute;
  }

  .switch-btn-on p, .switch-btn-off p {
    font-size: 11px;
    z-index: 2;
  }

  .switch-btn-off {
    top: 14px;
    left: 16px;
    position: absolute;
  }

  input[type=checkbox]:checked + .switch-btn:before {
    left: 42px;
  }

  /* doesn't work...should change background color of switch when checked. */
  input[type=checkbox]:checked  .switch-btn{
    background: rgb(#47CBBF);
  }
  /* end testing 04/25/20 */


  /* testing 04/19/20 */
  .input-term {
    width: 100%;
    height: 150px;
    margin-top: 8%;
    margin-bottom: 0;
    padding-left: 10px;
    position: relative;
    display: block;
    text-align: left;
  }

  .display-input-value{
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    color: black;
    font-family: "Helvetica Neue";
  }
  /* end testing 04/19/20 */
  
  .landing-message {
    width: 58%;
    height: 300px;
    margin-top: 237px;
    margin-left: calc(51% / 2 - 36px);
    position: absolute;
    display: block;
    /* background-color: rgba(0,0,0,.5); */
    /* border: 1px solid hotpink; */
  }
  
  .landing-logo {
    top: 0;
    width: 100%;
    height: 60px;
    text-align: left;
  }
  
  h1.landing-logo {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #FFF;
    font-family: "Helvetica Neue";
  }
  
  .landing-text {
    margin-top: 3px;
    text-align: left;
    margin-bottom: 24px;
    line-height: 25px;
  }
  
  .landing-text p {
    font-weight: 400;
    font-size: 17px;
    color: #FFF;
    font-family: "Helvetica Neue";
  }

  .landing-footer {
    margin-top: 20%;
    text-align: left;
  }

  .copyright-symbol {
    font-weight: 100;
    font-size: 20px;
    color: #FFF;
    font-family: "Helvetica Neue";
    display: inline-block;
  }

  .landing-footer p {
    font-weight: 200;
    font-size: 18px;
    color: #FFF;
    font-family: "Helvetica Neue";
    display: inline-block;
  }

  .relatedSearchContainer {
    width: 100%;
    height: 40px;
    margin-top: 27px;
    display: block;
    position:relative;
    overflow: hidden;
  }

  .relatedSearchOption:first-of-type {
    margin-left: 0;
  }

  .relatedSearchOption {
    width: 145px;
    height: 26px;
    padding-top: 12px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba(189, 195, 210);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: rgba(189, 195, 210);
    transition: 0.3s;
  }

  .relatedSearchOption p {
    font-size: 15px;
    font-weight: 500;
    display: block;
    position: relative;
  }

  .relatedSearchOption:hover {
    border: 1px solid black;
    color: black;
  }

  .noResultsContainer {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    display: block;
    position:relative;
    overflow: hidden;
  }
  
  .no-results-message {
    font-size: 35px;
  }

  .sign-in-page {
    width: 100vw;
    height: 100%;
    top: 0;
    margin-top: 9%;
    display: block;
    position: absolute;
    content: contain;
    text-align: left;
    background-color: white;
    z-index: 1;
    text-align: center;
  }

  .sign-in {
    width: 48%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid  rgb(217, 217, 217);
    background-color: white;
    text-align: center;
    color: grey;
  }

  .sign-in-success {
   width: 48%;
   height: 100%;
   display: inline-block;
   border-right: 1px solid #d9d9d9;
   background-color: white;
   text-align: center;
   color: grey;
  }

  .view-collection-button-container {
    top: 15%;
    left: 11%;
    width: 30%;
    padding: 0;
    height: auto;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .sign-in-title {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  #sign-in-form {
    top: 15%;
    left: 11%;
    width: 30%;
    padding: 0 0 0 0;
    height: auto;
    position: absolute;
    align-items: center;
    text-align: center;
  }

  .form-row {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    text-align: left;
  }

  .form-row:last-of-type {
    clear: both;
  }

  #sign-in-form label {
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    position: relative;
    display: block;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }

  #sign-in-form input {
    width: 94%;
    padding: 3% 0 3% 5%;
    margin-top: 3%;
    font-size: 14px;
    color: black;
  }

  .submit-btn {
    width: 100%;
    height: 45px;
    margin-top: 80px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
    cursor: pointer;
    border: none;
  }

  .submit-btn:hover {
    background-color: rgba(230, 127, 209, 1 );
  }

  .register{
    width: 48%;
    height: 100%;
    display: inline-block;
    background-color: white;
    text-align: center;
    color: grey;
  }

  .float-right-sign-in-page-container {
    top: 15%;
    right: 11%;
    width: 30%;
    padding: 0 0 0 0;
    height: auto;
    position: absolute;;
    align-items: center;
    text-align: center;
  }

  .action-btn {
    width: 100%;
    height: 45px;
    margin-top: 80px;
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 14px;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
    cursor: pointer;
  }

  .action-btn:hover {
    border: 1px solid rgba(230, 127, 209, 1 );
    color: rgba(230, 127, 209, 1);
  }

  .centered-search-bar-mobile {
    display: none;
  }

  .landing-search-bar {
    left: 0;
    height: 60px;
    display: block;
  }

  /* re-activated for desktop 04/18/20 */
  .centered-search-bar-landing {
    width: 100vw;
    height: 60px;
    left: 0;
    padding: 349px 0 25px 0;
    display: block;
    position: absolute;
    content: contain;
    text-align: left;
    color: rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  .centered-search-bar-landing input[type=text]::placeholder {
    color: rgb(67,67,67);
  }

  /* testing 04/18/20 */
  .centered-search-input-landing {
    width: 50.3vw;
    height: 46px;
    line-height: 45px;
    padding: 0 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    color: black;
  }

  input[type=text]::placeholder {
    color: lightgrey;
    opacity: 0.8;
  }


  /* new 04/18/20 */
  .header-search-input {
    width: 30vw;
    height: 40px;
    line-height: 45px;
    padding: 0 5px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 14px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
  }

  .header-search-input:hover {
    border: 1px solid lightgrey;
  }

  .search-form-header {
    top: 16px;
    left: 227px;
    position: absolute;
    display: flex;
    align-items: center;
  }

  #form-landing{
    width: 62vw;
  }

  .search-form-landing {
    top: -2px;
    position: absolute;
    display: flex;
    align-items: center;
  }

  .search-form-landing.icon {
    width: 45px;
    height: 20px;
  }

  .icon.icon-search {
    background: url('../src/app/img/search-icon.png') center/contain no-repeat;
  }

  .icon.icon-search-landing{
    background: url('../src/app/img/search-icon-dark.png') center/contain no-repeat;
  }

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    opacity: 0.8;
  }

  input {
    color: #fff;
  }

  .emptyCollectionMessage {
    width: 100%;
    height: 100%;
    margin-top: 15%;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: grey;
    position: absolute;
  }

  .landing-overlay {
    width: 100%;
    width: 100%;
    height: 644px;
    background-color: rgba( 0,0,0, .4);
    position: absolute;
  }

  .landing {
    width: 100%;
    height: 644px;
    background-image: url('../src/app/img/succulent.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    overflow: hidden;
    z-index: 3;
    top: 45px;
    display: absolute;;
    text-align: center;
  }

  .landingH1 {
    padding-top: 22%;
    font-size: 2.5em;
    color: rgba(48, 46, 46, 0.518);
  }

  .logoFont a {
    margin-left: 10px;
    letter-spacing: 8px;
  }

  .searchBar {
    width: 94.5vw;
    height: 40px;
    margin: 15px 0 0 0;
    padding: 2px 0 5px 0;
    line-height: 1em;
    display: block;
    position: absolute;
    z-index: 11;
    border-radius: 20px;
  }

  input[type=text] {
    font-size: 1em;
    padding-left: 2.9em;
    font-weight: 100;
    letter-spacing: 0.1px;
  }

  .header-search-input input {
    color: white !important;
  }

  .centered-search-input-landing input {
    color: black !important;
  }

  .closeSearchButton {
    display: none;
  }

  /* new 03/30/20 */
  .clearSearchInputButton {
    right: 14px;
    position: absolute;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.7em;
    font-weight: 100;
  }
  /* end new 03/30/20 */

  /* //images */
  .wrapperDiv {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    position: relative;
    text-align: center;
    margin: 74px auto 0 auto;
    padding: 0 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 5px;
    -moz-column-count: 4;
    -moz-column-gap: 5px;
    column-count: 4;
    column-gap: 10px;
  } 

  .imgSmall {
    width: auto;
    height: auto;
    position: relative;
    margin: 11px 2px;
    vertical-align: top;
  }

  .imgSmall:first-of-type {
    padding-top: 0px;
  }

  .landscape {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }

  .portrait {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    vertical-align: top;
  }

  #fullscreen {
    width: 100vw;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(39, 39, 39, 0.90);
    text-align: center;
    content: contain;
  }

  .fullscreenAside {
    width: 200px;
    height: 300px;
    margin-left: 30px;
    top: 7%;
    right: 2%;
    float: right;
    display: block;
    position: fixed;
    z-index: 90;
  }

  .fullscreenUserPhoto {
    width: 50px;
    height: 50px;
    top: 10%;
    clear: both;
    display: block;
    position: relative;
    border-radius: 50px;
    background-color: none;
  }

  .fullScreenImage {
    width: auto;
    height: 100%;
    margin: 0 auto;
    top: 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
  }

  .closeFullScreenButton {
    padding: 0;
    display: block;
    position: relative;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 100;
    z-index: 0;
  }

  /* old */
  .add-to-db {
    padding-top: -35px;
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    cursor: pointer;
    font-size: 3em;
    font-weight: 100;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    border: 1px solid white;
  }
  
  .remove-from-db {
    margin-top: 15px;
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: 3em;
    font-weight: 100;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    border-radius: 50%;
    transition: background-color 0.5s ease;
    border: 1px solid white;
  }

  .add-to-db:hover,
  .remove-from-db:hover {
    transition: background-color 0.5s ease;
    background-color: rgb(217, 138, 220);
  }
  /* end old */



  .add-to-db-overlay {
    top: 20px;
    right: 15px;
    padding-top: -15px;
    width: 90px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay-fullscreen {
    top: 59px;
    right: 52px;
    padding-top: -15px;
    width: 90px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay:hover, .add-to-db-overlay-fullscreen:hover {
    background-image: url("../src/app/img/header-bg.jpg");
    background-size: cover;
  }

  .add-to-db-overlay-collected {
    top: 20px;
    right: 15px;
    padding-top: -15px;
    width: 120px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    background-color: lightgreen;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay-collected-fullscreen {
    top: 59px;
    right: 52px;
    padding-top: -15px;
    width: 120px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    background-color: lightgreen;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay-collected:hover, .add-to-db-overlay-fullscreen:hover {
    background-image: url("../src/app/img/header-bg.jpg");
    background-size: cover;
  }
    
  .largeButton{
    left: 7px;
    font-weight: 300;
    font-size: 24px;
    bottom: 2px;
    position: absolute;
    opacity: .9;
    color: white;
  }

  .largeButtonCollected{
    width: 23px;
    height: 23px;
    top:0;
    left: 7px;
    position: absolute;
    background-image: url("../src/app/img/checkmark.png");
  }

  .normalButton {
    top: 4px;
    right: 13px;
    font-weight: 100;
    padding-top: -30px;
    font-size: 15px;
    position: absolute;
    opacity: .9;
    color: white;
  }

  .normalButtonRedirect {
    top: 4px;
    right: 21px;
    font-weight: 100;
    padding-top: -30px;
    font-size: 15px;
    position: absolute;
    opacity: .9;
    color: white;
  }

  .image_info_overlay_container {
    width: 100%;
    height: 99%;
    display: block;
    float: left;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: opacity .3s ease-in-out;
  }

  .fade {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
 
    .fade:hover {
       opacity: 1;
       }

  .photographer_profile_photo_container {
    bottom: 15px;
    left: 10px;
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    font-size: 20px;
    border-radius: 50%;  
  }

  .photographer_profile_photo {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
  }

  .photographer_userName {
    bottom: 23px;
    left: 57px;
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
  }

  .photographer_userName:hover {
    opacity: 1;
  }

  .footer {
    width: 100%;
    height: 15%;
    display: inline-block;
    position: relative;
    bottom: 0
  }

  .loadMoreButton {
    width: 25%;
    height: 45px;
    margin: 70px 15px 145px 15px;
    padding: 0 15px 7px 15px;
    display: inline-block;
    position: relative;
    font-weight: 100;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
    cursor: pointer;
    border: none;
  }

  .loadMoreButton:hover {
    background-color: rgba(230, 127, 209, 1 );
  }

}


/* ===================================================================================================================*/
/* ================                                LARGE DESKTOP                                  ====================*/
/* ===================================================================================================================*/
@media only screen and (min-width: 1780px) {
  body {
    margin-top: 3%;
  }

  .landingH1 {
    padding-top: 7%;
    font-size: 4em;
    color: rgba(48, 46, 46, 0.518);
  }

  .searchButton {
    left: 36%;
  }

  .searchButton:hover {
    box-shadow: rgba(30, 22, 54, 0.2) 0 0px 0px 40px inset;
    width: 7%;
    border-radius: 20px;
  }

  .searchBar {
    width: 95.4vw;
  }

  input[type=text] {
    padding-left: 4.7em;
    font-weight: 100;
  }

  /* //images */
  .wrapperDiv {
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    position: relative;
    text-align: center;
    margin: 3em auto 0 auto;
    padding: 0 15px;
    -webkit-column-count: 6;
    -webkit-column-gap: 5px;
    -moz-column-count: 6;
    -moz-column-gap: 5px;
    column-count: 6;
    column-gap: 12px;
  }

  .imgSmall {
    width: auto;
    height: auto;
    position: relative;
    margin: 10px 2px;
    vertical-align: top;
    z-index: 0;
  }

  .landscape {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 8px 0;
    vertical-align: top;
  }

  .portrait {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 8px 0;
    vertical-align: top;
  }

  #fullscreen {
    top: 4%;
  }

  .fullscreenAside {
    width: 200px;
    height: 300px;
    margin-left: 30px;
    top: 7%;
    right: 2%;
    float: right;
    display: block;
    position: fixed;
    z-index: 90;
  }

  .closeFullScreenButton {
    top: 0%;
  }

  .footer {
    width: 100%;
    height: 3%;
    display: inline-block;
    position: relative;
    bottom: 0;
    text-align: center;
  }
}

/* ===================================================================================================================*/
/* ================                                  MOBILE                                     ======================*/
/* ===================================================================================================================*/
@media (min-width: 320px) and (max-width: 734px) {
  .logoFont a {
    margin-left: 10px;
    letter-spacing: 8px;
  }

  /* .App {
    padding-top: 20px;
  } */

  .landing-overlay {
    width: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba( 0,0,0, .4);
    position: absolute;
  }

  .landing {
    width: 100%;
    height: 100vh;
    background-image: url('../src/app/img/succulent.jpeg');
    background-position:  center; 
    background-repeat: no-repeat;
    opacity: 0.95;
    overflow: hidden;
    z-index: 1;
    top: 45px;
    display: block;
    text-align: center;
  }

  .header-search-input {
    display: none;
  }

  .switch-btn-on, .switch-btn-off {
    display: none;
  }

  .landing-message {
    width: 100%;
    height: 200px;
    margin-top: 76%;
    padding-left: 12px;
    position: absolute;
    display: block;
  }
  
  .landing-logo {
    top: 0;
    width: 100%;
    height: 60px;
    text-align: left;
  }
  
  h1.landing-logo {
    font-size: 47px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FFF;
    font-family: "Helvetica Neue";
  }
  
  .landing-text {
    margin-top: 0px;
    text-align: left;
    line-height: 30px;
  }
  
  .landing-text p {
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
    font-family: "Helvetica Neue";
  }

  .landing-footer {
    margin-top: 2%;
    text-align: left;
  }

  .copyright-symbol {
    font-weight: 100;
    font-size: 20px;
    color: #FFF;
    font-family: "Helvetica Neue";
    display: inline-block;
  }

  .landing-footer p {
    font-weight: 100;
    font-size: 18px;
    color: #FFF;
    font-family: "Helvetica Neue";
    display: inline-block;
  }

  .inputContainer {
    width: 95%;
    margin-top: 116px;
    margin-left: 10px;
  }

  .input-term {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    margin-left: 10px;
    /* padding-left: 10px; */
    position: relative;
    display: block;
    text-align: left;
  }

  .display-input-value{
    font-size: 43px;
    line-height: 1.2;
    font-weight: 700;
    color: black;
    font-family: "Helvetica Neue";
  }

  /* related search options */
  .relatedSearchContainer {
    display: none
  }

  .noResultsContainer {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    display: block;
    position:relative;
    overflow: hidden;
  }

  .no-results-message {
    font-size: 35px;
  }

  .landing-search-bar {
    display: none;
  }

  .headerSearch {
    display: none;
  }

  .searchButton {
    top: 6px;
    right: 144px;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    background-image: url('../src/app/img/search-50.png');
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 10;
}

  .loadingH1 {
    margin-left: 15px;
    font-size: 1.8em;
    /* color: rgb(244, 118, 208); */
    color: rgb(120, 128, 153);
    margin-top: 75%;
  }

  .lds-ellipsis {
    width: 52px;
  }

  .lds-ellipsis div {
    position: absolute;
    width: 11px;
    height: 11px;
    margin-top: 18px;
    border-radius: 50%;
    /* background: rgb(244, 118, 208); */
    background: rgb(120, 128, 153);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .dd-login-menu {
    top: 57px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  .dd-login-menu::after { 
    width: 100%;
    height: 100vh;
  }
  
  .login-option {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1;
    cursor: pointer;
  }
  
  .login-options {
    top: 0;
    padding-top: 1px;
    width: 100%;
    height: 104px;
    background-color: white;
  }

  .user-options {
    top: 0;
    width: 100%;
    height: 205px;
    background-color: white;
  }

  hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    opacity: 0.4;
  }
  
  .user-card {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1;
  }

  .add-to-db-overlay {
    display: none;
  }

  .add-to-db-overlay-collected {
    display: none
  }

  #user-card {
    height: 71px;
    cursor: none;
  }

  .sign-in-page {
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 17%;
    display: block;
    position: absolute;
    content: contain;
    text-align: left;
    background-color: white;
    z-index: 1;
    color: grey;
  }

  .sign-in {
    width: 100%;
    height: 57%;
    display: block;
    border-right: 1px solid grey;
    background-color: white;
    text-align: center;
  }

  .sign-in-success {
    width: 100%;
    height: 20%;
    display: block;
    background-color: white;
    text-align: center;
    color: grey;
  }

  .view-collection-button-container {
    top: 15%;
    left: 2%;
    position: relative;
    padding: 0;
    height: auto;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .sign-in-title {
    margin-top: 4%;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  #sign-in-form {
    top: 134px;
    height: auto;
    padding: 0 2% 0 2%;
    position: absolute;
    align-items: center;
    text-align: left;
  }

  .form-row {
    display: flex;
    flex: 1 1 auto;
    position: relative;
    text-align: left;
  }

  .form-row:last-of-type {
    width: 95vw;
    clear: both;
  }

  .sign-in-input {
    width: 98%;
    height: 50px;
    line-height: 45px;
    padding: .5rem 1.25rem;
    border: none;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid grey;
  }

  #sign-in-form input {
    width: 89vw;
    padding: 0 2% 0 4%;
    margin-bottom: 3%;
    border: 1px solid grey;
    font-size: 19px;
    color: black;
    background-image: linear-gradient(transparent, transparent);
  }

  .submit-btn {
    width: 100%;
    height: 45px;
    margin-top: 37px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
    cursor: pointer;
    border: none;
  }

  .submit-btn:hover {
    background-color: rgba(230, 127, 209, 1 );
  }

  .register{
    width: 100%;
    height: 20%;
    display: block;
    background-color: white;
    text-align: center;
    color: grey;
  }

  .float-right-sign-in-page-container {
    top: 15%;
    right: 13%;
    width: 30%;
    padding: 0 0 0 0;
    height: auto;
    position: relative;;
    align-items: center;
    text-align: center;
  }

  .action-btn {
    width: 95vw;
    height: 45px;
    margin-top: 11px;
    background-color: black;
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    transition: background-color .2s ease-in-out,border .2s ease-in-out,color .2s ease-in-out;
    cursor: pointer;
  }

  .action-btn:hover {
    border: 1px solid rgba(230, 127, 209, 1 );
    color: rgba(230, 127, 209, 1);
  }

  /* testing for mobile 04/18/20 */
  .centered-search-bar-mobile {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 349px 0 25px 0;
    display: block;
    position: absolute;
    content: contain;
    text-align: left;
    color: white;
    background-color: rgba(0,0,0, 0.9);
    z-index: 3;
  }

  .centered-search-bar-mobile input[type=text] {
    width: 99vw;
  }

  .centered-search-input-mobile {
    width: 95vw;
    height: 50px;
    line-height: 45px;
    /* padding: 0 5px; */
    /* border: none; */
    border: 1px solid white;
    background-color: transparent;
    font-size: 14px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }

  .search-form-mobile {
    top: calc(30%);
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    /* margin-bottom: 40px; */
  }

  .search-form-mobile.icon {
    width: 45px;
    height: 20px;
  }

  .icon.icon-search {
    background: url('../src/app/img/search-icon.png') center/contain no-repeat;
  }

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 16px;
    opacity: 0.8;
  }

  input {
    color: #fff;
  }

  input[type=text] {
    font-size: 16px;
    padding-left: 3.2em;
    letter-spacing: 0.2px;
    width: 84vw;
  }

  input[type=checkbox] {
    display: none;
  }

  
  /* displayed search term at top after search */
  .inputTerm {
    top: 56px;
    left: 2.5%;
    width: auto;
    height: 35px;
    padding-top: 5px;
    text-align: left;
    display: none;
    position: absolute;
    font-weight: 100;
}

  .inputTerm p {
    font-size: 18px;
    color: grey;
  }

  .inputValue {
    margin-left: 5px;
    color: grey;;
    letter-spacing: 4px;
  }

  .searchButton {
    top: 6px;
    right: 76px;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    background-image: url('../src/app/img/search-50.png');
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 3;
  }
  
  .closeSearchButton {
    top: 280px;
    right: 47px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: 100;
  }
  
  .dd-login-title {
    top: 0;
    right: 0;
    width: 60px;
    height: 57px;
    display: inline-block;
    position: absolute;
    z-index: 2;
  }
  
  .dd-login-button {
    width: 41px;
    height: 41px;
    margin-top: 5px;
    background-image: url('../src/app/img/user-icon-mobile.png');
    background-size: contain;
    cursor: pointer;
    z-index: 1;
  }

  .dd-login-button-logged-in {
    width: 41px;
    height: 41px;
    margin-top: 5px;
    background-image: url('../src/app/img/user-icon-mobile-logged-in.png');
    background-size: contain;
    cursor: pointer;
    z-index: 1;
  }

  .form-error {
    top: 154px;
    left: 22%;
    position: absolute;
  }

  .emptyCollectionMessage {
    width: 100%;
    height: 100%;
    margin: 15% auto 0 auto;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: grey;
    position: absolute;
  }

  .body-container{
    width: 100%;
    height: auto;
    position: absolute;
/* testing 04/29/20 */
    /* width: auto;
    max-width: auto;
    overflow: hidden; */
  }

  .wrapperDiv {
    padding-top: 49px;
    margin: 0 auto;
/* testing 04.29/20 */
    /* width: 100vw;
    max-width: 100vw;
    overflow: hidden; */
  }

  .image_info_overlay_container {
    display: none
  }

  .imgSmall:first-of-type {
    margin-top: 0;
  }

  .imgSmall {
    margin: 5px 2px;
  }

  #fullscreen {
    top: -15px;
    left: 0;
    width: 100%;
    height: 101vh;
    display: block;
    position: fixed;
    z-index: 1;
    background-color: rgba(39, 39, 39, 0.90);
    text-align: center;
  }

  .fullScreenImage {
    width: 100%;
    height: calc(100% - 45px);
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
    object-fit: contain;
  }
  
  .fullscreenAside {
    width: 100%;
    height: 100vh;
    margin-left: 30px;
    top: 2.5%;
    right: 7%;
    float: right;
    display: block;
    position: fixed;
    z-index: 90;
  }

  .footer {
    clear: both;
    position: relative;
    height: 180px;
    margin-bottom: 20px;
  }

  .footer-container {
    width: 100vw;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }

  .left {
    float: left;
    left: 10%;
  }

  .right {
    float: right;
    right: 10%;
  }

  .loadMoreButton {
    margin: 50px 15px 145px 15px;
    width: 33%;
  }

  .add-to-db {
    display: block;
    top: 117px;
    right: -12px;
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    cursor: pointer;
    font-size: 40px;
    font-weight: 100;
    z-index: 0;
    border-radius: 50%;
    border: 1px solid white;
  }

  .remove-from-db {
    display: block;
    top: 175px;
    right: -12px;
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
    cursor: pointer;
    font-size: 40px;
    font-weight: 100;
    z-index: 0;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    border-radius: 50%;
    border: 1px solid white;
  }


  /* testing 04/28/20 */
  .add-to-db-overlay-fullscreen {
    top: 82px;
    right: -6px;
    padding-top: -15px;
    width: 90px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    color: white;
    background-color: rgba(201, 201, 201, 0.5);
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay-collected {
    top: 20px;
    right: 15px;
    padding-top: -15px;
    width: 120px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    background-color: lightgreen;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay-collected-fullscreen {
    top: 82px;
    right: -6px;
    padding-top: -15px;
    width: 120px;
    height: 30px;
    display: block;
    float: right;
    position: absolute;
    background-color: lightgreen;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
    transition: background-color 0.5s ease;
  }

  .add-to-db-overlay-collected:hover, .add-to-db-overlay-fullscreen:hover {
    background-image: url("../src/app/img/header-bg.jpg");
    background-size: cover;
  }
    
  .largeButton{
    left: 7px;
    font-weight: 300;
    font-size: 24px;
    bottom: 2px;
    position: absolute;
    opacity: .9;
    color: white;
  }

  .largeButtonCollected{
    width: 23px;
    height: 23px;
    top:0;
    left: 7px;
    position: absolute;
    background-image: url("../src/app/img/checkmark.png");
  }

  .normalButton {
    top: 4px;
    right: 13px;
    font-weight: 100;
    padding-top: -30px;
    font-size: 15px;
    position: absolute;
    opacity: .9;
    color: white;
  }

  .normalButtonRedirect {
    top: 4px;
    right: 21px;
    font-weight: 100;
    padding-top: -30px;
    font-size: 15px;
    position: absolute;
    opacity: .9;
    color: white;
  }
}

